ul {
	list-style-type: none;
}

.tweet {
	margin: .1em;
	padding: .5em;
	border: 2px solid gray;

}

.shawndrost {
	color: orange;
}

.douglascalhoun {
	color: green;
}

.mracus {
	color: red;
}

.sharksforcheap {
	color: blue;
}